{% extends "base.html" %}

{% block title %}Tables Report{% endblock %}

{% block content %}
  <h1 class="text-center mb-4">Tables</h1>
  <div class="d-flex justify-content-center flex-wrap gap-4">

    <a href="https://docs.google.com/spreadsheets/d/131ORjkKEyewcLVQkXC00oMI-gmCZKFcO/edit?usp=drive_link"
    target="_blank"
    class="spreadsheet-card"
    style="max-width: 400px; border-radius: 1rem;">
    <div class="card-body">
        <h5 class="card-title mb-2" style="font-size:2rem">Criador Table<Add-Ons></Add-Ons></h5>
        <p class="card-text text-muted">Open Spreadsheet in new tab</p>
    </div>
    </a>
    <a href="https://docs.google.com/spreadsheets/d/1UgWSZ4W2axebW6bOiqMLKWLCVlHP7VkW/edit?usp=drive_link"
    target="_blank"
    class="spreadsheet-card"
    style="max-width: 400px; border-radius: 1rem;">
    <div class="card-body">
        <h5 class="card-title mb-2" style="font-size:2rem">Padrillos Table - CB<Add-Ons></Add-Ons></h5>
        <p class="card-text text-muted">Open Spreadsheet in new tab</p>
    </div>
    <a href="https://docs.google.com/spreadsheets/d/13tjcOk3hUZAMk65gZk_peJV4XVUHgu0hyO6ch3cPlBg/edit?usp=drive_link"
    target="_blank"
    class="spreadsheet-card"
    style="max-width: 400px; border-radius: 1rem;">
    <div class="card-body">
        <h5 class="card-title mb-2" style="font-size:2rem">Past Auctions Table<Add-Ons></Add-Ons></h5>
        <p class="card-text text-muted">Open Spreadsheet in new tab</p>
    </div>
  </div>
{% endblock %}