{% extends "base.html" %}

{% block title %}Reports{% endblock %}
{% block content %}
<h1 class="text-center mb-4">Reports</h1>
<div class="d-flex justify-content-center gap-4">
    <a class="folder" href="/reports/statistics/choicesVScriador">Choices vs Criador</a>
    <a class="folder" href="/reports/statistics/criador-caballeriza">Criador -  Caballeriza</a>
    <a class="folder" href="/reports/statistics/horse">Horse</a>
    <a class="folder" href="/reports/statistics/jockey">Jockey</a>
    <a class="folder" href="/reports/statistics/trainer">Trainer</a>
  </div>
  {% endblock %}
  <!-- 
  <div class="d-flex justify-content-center flex-wrap gap-4">
    <a href="https://docs.google.com/spreadsheets/d/131ORjkKEyewcLVQkXC00oMI-gmCZKFcO/edit?usp=drive_link" target="_blank" class="btn btn-outline-primary">
      Criador Table
    </a>
    <a href="https://docs.google.com/spreadsheets/d/1UgWSZ4W2axebW6bOiqMLKWLCVlHP7VkW/edit?usp=drive_link" target="_blank" class="btn btn-outline-primary">
      Padrillos Table - CB
    </a>
  </div> -->
