{% extends "base.html" %}

{% block title %}Presentations{% endblock %}

{% block content %}
  <h1 class="text-center mb-4">Tables</h1>
  <div class="d-flex justify-content-center flex-wrap gap-4">
    <a href="https://drive.google.com/file/d/1XuVk-PZRkI7Aihw9cvUgHsNOb474iTXG/view?usp=drive_link"
    target="_blank"
    class="spreadsheet-card"
    style="max-width: 400px; border-radius: 1rem;">
    <div class="card-body">
        <h5 class="card-title mb-2" style="font-size:2rem">Add-ons Firmamento </h5>
        <p class="card-text text-muted">Open Spreadsheet in new tab</p>
    </div>
    </a>
    <a href="https://drive.google.com/file/d/1G4TeMO4ILY_RFjhGN_3tifiUewrq5P8H/view?usp=drive_link"
    target="_blank"
    class="spreadsheet-card"
    style="max-width: 400px; border-radius: 1rem;">
    <div class="card-body">
        <h5 class="card-title mb-2" style="font-size:2rem">Firmamento auction analysis(Sep 2024)</h5>
        <p class="card-text text-muted">Open Spreadsheet in new tab</p>
    </div>
    </a>
  </div>
{% endblock %}