<div class="filter-section">
    <div class="filter-row">
        <div class="row">
            {% for column in filters.keys() %}
            <div class="col">
                <div class="filter-label">{{ column }}</div>
                <input type="text" 
                       class="filter-input" 
                       data-table="{{ table_id }}"
                       data-column="{{ column }}"
                       value="{{ filters[column] or '' }}"
                       placeholder="Filter {{ column }}">
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        {% if column_groups %}
        <tr class="column-groups">
            {% for group_name, colspan, class_name in column_groups %}
            <th colspan="{{ colspan }}" class="{{ class_name }}">{{ group_name }}</th>
            {% endfor %}
        </tr>
        {% endif %}
        {% if column_groups_h2 %}
        <tr class="column-groups">
            {% for group_name, colspan, class_name in column_groups_h2 %}
            <th colspan="{{ colspan }}" class="{{ class_name }}">{{ group_name }}</th>
            {% endfor %}
        </tr>
        {% endif %}
        <tr>
            {% for column in columns %}
            <th data-column="{{ column }}">{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for column in columns %}
            <td>{{ row[column] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>