{% extends "base.html" %}

{% block title %}Criador - Caballeriza{% endblock %}

{% block content %}
  <h1 class="text-center mb-4">Criador - Caballeriza</h1>
  <div class="d-flex justify-content-center flex-wrap gap-4">
    <a href="https://drive.google.com/file/d/1XPhELxhJy83UCcKbxVFoPjPl-eghul0v/view?usp=drive_link"
    target="_blank"
    class="spreadsheet-card"
    style="max-width: 400px; border-radius: 1rem;">
    <div class="card-body">
        <h5 class="card-title mb-2" style="font-size:2rem">Firmamento Report</h5>
        <p class="card-text text-muted">Open Spreadsheet in new tab</p>
    </div>
    </a>
    <a href="https://drive.google.com/file/d/1hIe5M42vxqQIFNd8mMoLTcnk3BZp8wss/view?usp=drive_link"
    target="_blank"
    class="spreadsheet-card"
    style="max-width: 400px; border-radius: 1rem;">
    <div class="card-body">
        <h5 class="card-title mb-2" style="font-size:2rem">Report Firmamento(criador)</h5>
        <p class="card-text text-muted">Open Spreadsheet in new tab</p>
    </div>
    </a>
    </a>
    <a href="https://drive.google.com/file/d/10IfAEtpEKAY-a-rT-2DmE2IuiArgl5f0/view?usp=drive_link"
    target="_blank"
    class="spreadsheet-card"
    style="max-width: 400px; border-radius: 1rem;">
    <div class="card-body">
        <h5 class="card-title mb-2" style="font-size:2rem">Report Firmamento(stud)</h5>
        <p class="card-text text-muted">Open Spreadsheet in new tab</p>
    </div>
    </a>
  </div>
{% endblock %}