{% extends "base.html" %}

{% block title %}Choices vs Criador{% endblock %}

{% block content %}
  <h1 class="text-center mb-4">Trainer</h1>
  <div class="d-flex justify-content-center flex-wrap gap-4">
    <a href="https://drive.google.com/file/d/1MJ8IKVKJK2Ea4jA1615Z7BMW1CmQvG6k/view?usp=drive_link"
    target="_blank"
    class="spreadsheet-card"
    style="max-width: 400px; border-radius: 1rem;">
    <div class="card-body">
        <h5 class="card-title mb-2" style="font-size:2rem">Trainer Report - Frenkel<Add-Ons></Add-Ons></h5>
        <p class="card-text text-muted">Open Spreadsheet in new tab</p>
    </div>
    </a>
  </div>
{% endblock %}





