{% extends "base.html" %}

{% block title %}Horse{% endblock %}

{% block content %}
  <h1 class="text-center mb-4">Horse</h1>
  <div class="d-flex justify-content-center flex-wrap gap-4">
    <a href="https://drive.google.com/file/d/1k72dGx4w32kruH1uSLl6Y_naH-_JXy3A/view?usp=drive_link"
    target="_blank"
    class="spreadsheet-card"
    style="max-width: 400px; border-radius: 1rem;">
    <div class="card-body">
        <h5 class="card-title mb-2" style="font-size:2rem">Horse Profile -  Envidienme</h5>
        <p class="card-text text-muted">Open Spreadsheet in new tab</p>
    </div>
    </a>
  </div>
{% endblock %}